/*@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');*/

/*body {*/
  /*background:#2E9CE6;*/
  /*padding: 3em;*/
  /*font-family: 'Raleway', 'Arial';*/
  /*color:#fff;*/
/*}*/
/*ul {*/
  /*list-style-type:none;*/
  /*margin:0 0 2em 0;*/
  /*padding:0;*/
/*}*/
/*ul li {*/
  /*display:inline;*/
  /*margin-right: 30px;*/
/*}*/
/*ul li a {*/
  /*font-size: 1.5em;*/
/*}*/
/*a {*/
  /*color:#fff;*/
  /*text-decoration:none;*/
/*}*/


/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
